h1{
	width: 200;
	height: 100;
	font-family: Bradley Hand ITC;
	font-size: 45px;
  
}

h2{
	font-size: 35px;
}

h3{
	font-size: 30px;
}


p{
	font-family: Bell MT;
	font-size: 25px;
}


B{
		position: relative;
		font-family: Ink free;
		bottom: 40px;
		left: 480px;
		font-size: 50px;
}



.elem1 {
	font-size: 2em;
	font-family: sans-serif;
}

.elem2 {
	font-size: 45px;
	color: darkred;
}

.positioned {
  position: relative;
  
left: 999px;


}

footer{
	font-size: 500px;
}